body {
    text-align: center;
    padding: 10px;
}

.container {
    background-color: lightgray;
}

#submit {
    background-color: green;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
}